@reference "../../../index.css";

.scale-form{
  font-size: 90%;
}
.auth-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  overflow: hidden;
  
}
.auth-right {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
   overflow-y: auto;
}
.decorative-circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(15, 61, 105, 0.4) 0%,
    rgba(2, 21, 38, 0) 70%
  );
}
.irish-font{
    font-family: "Irish Grover", cursive;
}
button{
    cursor: pointer;
}
@media (max-width: 1024px) {
  .auth-left {
    display: none;
  }
  .auth-right {
    flex: 1;
    padding: 40px 24px;
  }
  .title-center{
    display: flex;
    justify-content: center;
  }
}
