@import "./styles/theme/themeColor.css";

@layer base {
  body {
    @apply antialiased;
    color: #050552; /* default light theme text color */
    border:none;
  }
}
/* Hiệu ứng underline */
@layer components {
  .nav-link {
    @apply relative inline-block text-sm font-medium
           text-gray-600 dark:text-gray-300
           transition-colors;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-full
           bg-current
           scale-x-0 origin-left
           transition-transform duration-300;
  }

  .nav-link:hover::after {
    @apply scale-x-100;
  }

  .nav-link-active {
    @apply text-primary dark:text-white font-semibold;
  }
}

button{
  cursor: pointer;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

.no-row-hover tbody tr:hover {

  background-color: rgba(15, 23, 42, 0.02) !important;
}
.no-row-hover tbody tr:hover td {

  background: transparent !important;
}
.dark .no-row-hover tbody tr:hover {

  background-color: rgba(255, 255, 255, 0.03) !important;
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


