@import "tailwindcss";

/* DARK MODE = class */
@custom-variant dark (&:where(.dark, .dark *));

/* THEME CONFIG */
@theme {
  --color-primary: #0f3d69;
  --color-background-light: #f8fafc;
  --color-background-dark: #05111d;
   --color-navy-light: #021526;
  --color-navy-dark: #000;
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --radius-default: 8px;
}

